.MainNavigation {
    display: flex;
    justify-content: center;
}
.mainNavLink {
    color: skyblue;
    font-size: larger;
    font-weight: 700;
    padding: 1%;
    background-color: black;
    border: solid;
    
    border-color: white;
    margin: 2%;

}